<section ng-controller="RepoController">
  <div class="mdl-color--blue-grey ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Image List</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp m-b-30">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">User Image List </h2>
          </div>
          <div class="p-l-20 p-r-20 p-b-20" ng-if="show_error_msg">
            <div class="alert alert-success">
                Data inserted successfully
            </div>
          </div>
          <div class="p-l-20 p-r-20 p-b-20" id="show_message" style="display:none">
            <div id="success_div" class="alert alert-success">
                
            </div>
             <div id="error_div" class="alert alert-danger">
                
            </div>
          </div>
          <table class="mdl-data-table ml-table-bordered mdl-js-data-table ">
            <colgroup>
              <col class="auto-cell-size p-r-20">
            </colgroup>
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <th class="mdl-data-table__cell--non-numeric">Action</th>
              </tr>
            </thead>
            <tbody ng-if="repo_details.length">              
              <tr dir-paginate="repo in repo_details|itemsPerPage:10" >
                <td>
                  <i class="material-icons f-left">folder</i>
                </td>
                <td>{{repo.directory_name}}</td>                
                <td>
                  <img  ng-if="repo.status == 1" src="../images/active.png" width="20" />          

                  <img  ng-if="repo.status == 0" src="../images/block.png" width="20" />          
                </td>
                
                <td  id="row_{{repo.id}}">                  
                  <img class="delete_row" src="../images/delete.png" width="20" style="cursor:pointer" data-ng-click="delete_folder(repo.id);" />
                </td>
              </tr> 

              <tr ng-if="repo_details.length > 10">
                <td colspan="6" class="text-center">
                  <dir-pagination-controls
                    max-size="7"
                    direction-links="true"
                    boundary-links="true" >
                  </dir-pagination-controls>
                </td>
              </tr> 
            </tbody>
           
           <tbody ng-if="!repo_details.length">
              <tr>
                <td class="center" colspan="5">No data present</td>                
              </tr>  
            </tbody> 
                      
          </table>
        </div>
        <div class="tags m-t-20 f-right">
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="#/repository/add_image" >Add Image</a>
        </div>
      </div>
    </div>

  </div>

</section>