<style>
.bottom-btn{padding: 10px; text-align: right;}

</style>
<section ng-controller="RepoListController">
  <div class="mdl-color--blue-grey ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Image Repository List</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>
</div>

  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp m-b-30">
          <div class="p-l-20 p-r-20 p-b-20" ng-if="show_error_msg">
            <div class="alert alert-success">
                Data inserted successfully
            </div>
          </div>         
          <table class="mdl-data-table ml-table-bordered mdl-js-data-table ">
        <colgroup>
          <col class="auto-cell-size p-r-20">
        </colgroup>
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric" >Image</th>
            <th class="mdl-data-table__cell--non-numeric" >Name</th>
            <th class="mdl-data-table__cell--non-numeric">Action</th>
          </tr>
        </thead>
        <tbody ng-if="repo_details.length">
          <tr dir-paginate="repo in repo_details|itemsPerPage:10">

            <td style="width:50%">                 
              <span ng-if="repo.directory==1">
                <a href="javascript:void(0);" data-ng-click="set_dir_id(repo.id, repo.directory_id)"><i style="font-size:40px;" class="fa fa-folder-open" aria-hidden="true"></i></a>                 
              </span>
              <span ng-if="repo.directory==0">
                <img ng-src="{{file_path}}{{repo.directory_base_path}}" width="80" />
              </span>
            </td>
            <td style="width:50%">
              {{repo.file_name}}
            </td>

            <td> 
              <img class="delete_row" ng-src="{{file_path}}images/delete.png" width="20" style="cursor:pointer" data-ng-click="delete_folder(repo.id);" />
            </td>
          </tr> 
          <tr ng-if="repo_details.length > itemsPerPage">
            <td colspan="6" class="text-center">
              <dir-pagination-controls
                max-size="7"
                direction-links="true"
                boundary-links="true" >
              </dir-pagination-controls>
            </td>
          </tr>           
        </tbody>
        <tbody ng-if="!repo_details.length">
          <tr>
            <td class="center" colspan="12">No data present</td>                
          </tr>
        </tbody>          
          </table>
        </div>
      </div>

    </div>
    <div class="tags m-t-20 f-right">
      <a ng-if="!setBackButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="#/repository/add" >Add Directory</a>

      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="#/repository/add_image" >Upload File</a>
      <a ng-if="setBackButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="clearAlllocalStorage(setBackButton)" >Back</a>
    </div>
  </div>
</div>
<input type="hidden" name="dir_id" id="dir_id" value="" />
</div>

</section>