<section class="text-fields" ng-controller="PartnersettingEditController" >
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Update Setting</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <!-- <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div> -->

    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="p-l-20 p-r-20 p-b-20" id="show_message" style="display:none">
            <div id="success_div" class="alert alert-success">
                Data inserted successfully
            </div>
             <div id="error_div" class="alert alert-danger">
                
            </div>
          </div>
          
          <div class="p-30">
            <form name="f2" method="POST"  enctype="multipart/form-data">
              <input type="hidden" name="_token" value="{{ csrf_token() }}">
              <div class="mdl-textfield">
                <p>Select Price Range</p>
                 <select ng-model="selectedRange" ng-init="selectedRange=alreadySelectedRange">
                    <option ng-repeat="range in range_details track by $index" value="{{range.value}}">{{range.value}}</option>
                                 
                  </select>  
              </div> 
              <div class="m-t-20">
                <button type="submit" ng-click = "updateSetting()" ng-disabled="edit_inventory_disable" ng-bind="edit_inventory_btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="edit_inventory"></button>   

                <button id="cancel_redirect" type="submit" ng-click = "cancel_redirect('settings')" ng-disabled="cancel_redirect_disable" ng-bind="cancel_redirect_btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" >
         
                </button>              
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
<script>
  //$( document ).ready(function() {
      //console.log( "ready!" );
     // alert("A");
 // });
</script>