<section ng-controller="PromotionController">
  <div class="mdl-color--blue-grey ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">User Offer List</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <!-- <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>
        </div>
      </div>
    </div> -->
    <div class="mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp m-b-30">
          <div class="p-l-20 p-r-20 p-b-20" ng-if="show_error_msg">
            <div class="alert alert-success">
                Data inserted successfully
            </div>
          </div>
          <table class="mdl-data-table ml-table-bordered mdl-js-data-table ">
            <colgroup>
              <col class="auto-cell-size p-r-20">
            </colgroup>
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Image</th>
                <th class="mdl-data-table__cell--non-numeric">Offer Name</th>
                <th class="mdl-data-table__cell--non-numeric">Validate</th>                
                <th class="mdl-data-table__cell--non-numeric">Action</th>
              </tr>
            </thead>
            <tbody ng-if="promotion_list.length">
              <tr dir-paginate="promotion in promotion_list|itemsPerPage:10">
              
                <td>                 
                 <img ng-src="{{promotion.offer_image_path}}" width="100" />
                </td>
                <td>{{promotion.offer_description}}</td>     
                <td>
                  Validate after {{promotion.validate_after}} Hr(s) and within 
                  {{promotion.validate_within}} Hr(s)
                </td>
               
                <td  id="row_{{promotion.id}}">                  
                  <img class="delete_row" ng-src="{{file_path}}images/delete.png" width="20" style="cursor:pointer" data-ng-click="delete_offer(promotion.id);" />
                </td>
              </tr> 
              <tr ng-if="promotion_list.length > 10">
                <td colspan="5" class="text-center">
                  <dir-pagination-controls
                    max-size="7"
                    direction-links="true"
                    boundary-links="true" >
                  </dir-pagination-controls>
                </td>
              </tr>        
            </tbody>
            <tbody ng-if="!promotion_list.length">
              <tr>
                <td class="center" colspan="12">No data present</td>                
              </tr> 
            </tbody>  
          </table>
        </div>
        <div class="tags m-t-20">
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="#/promotion/create" >Add</a>
        </div>
      </div>
    </div>

  </div>

</section>