<section ng-controller="VideoListController">
  <div class="mdl-color--blue-grey ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Video</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <!-- <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>
        </div>
      </div>
    </div> -->

    <div class="mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp m-b-30">
          <div class="p-l-20 p-r-20 p-b-20" id="show_message" style="display:none">
            <div id="success_div" class="alert alert-success">
                
            </div>
             <div id="error_div" class="alert alert-danger">
                
            </div>
          </div>
          <table class="mdl-data-table ml-table-bordered mdl-js-data-table ">
            <colgroup>
              <col class="auto-cell-size p-r-20">
            </colgroup>
            <thead>
            <tr class="mdl-data-table__cell--non-numeric">
              <th class="mdl-data-table__cell--non-numeric">Video</th> 
              <th class="mdl-data-table__cell--non-numeric">Video Title</th>             
              <th class="mdl-data-table__cell--non-numeric">Default</th>
              <th class="mdl-data-table__cell--non-numeric">Action</th>
            </tr>
            </thead>
            <tbody ng-if="video_details.length">              
              <tr  class ="gallery" dir-paginate="video in video_details|itemsPerPage:10" >
              <td  style="padding:5px;">                                                
                  <img ng-src="{{video.video_thumb}}" width="80" style="cursor:pointer" />                
                </td> 
                <td>{{video.video_name}}   </td>                
                 <td>
                  <span ng-if="video.default_video == 1">
                    <img ng-src="{{file_path}}images/default.png" width="20"/>
                  </span>
                  <span  ng-if="video.default_video == 0">
                    <a data-ng-click="make_default(video.id);" href="javascript:void(0);" >
                        Make this Default
                    </a>
                  </span>
                </td>
               <td id="row_{{video.id}}">                                 
                  <img class="delete_row" ng-src="{{file_path}}images/delete.png" width="20" style="cursor:pointer" data-ng-click="delete_video(video.id);" />
                </td>
               
              </tr> 
              <tr ng-if="video_details.length > 10">
                <td colspan="4" class="text-center">
                  <dir-pagination-controls
                    max-size="7"
                    direction-links="true"
                    boundary-links="true" >
                  </dir-pagination-controls>
                </td>
              </tr>
            </tbody>
           
            <tbody ng-if="!video_details.length">
              <tr>
                <td class="center" colspan="4">No data present</td>                
              </tr>  
            </tbody> 
            
          </table>
        </div>
        <div class="tags m-t-20">
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="#/video/add" >Add</a>
        </div>        
      </div>
    </div>
    <input type="hidden" name="cat_id" id="cat_id" value="" />
  </div>

</section>