<section class="text-fields" ng-controller="ReedemerController" >
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Add Logo</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">User Add Logo</h2>
          </div>
          <div class="p-l-20 p-r-20 p-b-20" id="show_message" style="display:none">
            <div id="success_div" class="alert alert-success">
                
            </div>
             <div id="error_div" class="alert alert-danger">
                
            </div>
          </div>

          <div class="p-30">
            <form name="f1" method="POST"  enctype="multipart/form-data">
              <input type="hidden" name="_token" value="{{ csrf_token() }}">
              <div class="mdl-textfield">
                <p>Company Name</p>
                <span>
                  {{cnames.company_name}}                 
                 <input id="company_id" type="hidden" name="company_id" ng-value="cnames.id" />
                </span>               
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <!-- <input ng-model="Redeemer.logo_text" class="mdl-textfield__input" type="text" id="logo_text" />
                <label class="mdl-textfield__label" for="logo_text">Logo Text</label> -->
                <input ng-model="Redeemer.logo_text" class="mdl-textfield__input" type="text" id="logo_text" placeholder="Logo Text" />
              </div>
              <div class="mdl-textfield">
                <p>Upload Logo</p>
               <!-- <input class="mdl-textfield__input" id="upload-with-form" type="file" file-model="Redeemer.logo_name"  accept="image/*" /> -->

               <input type = "file" ng-model="Redeemer.logo_name" file-model = "myFile" id="logo_name" />
   
              </div>
              
             
              <div class="m-t-20">
                <button disabled="disabled" id="upload_button" type="submit" ng-click = "uploadFile()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                  Save user
                </button>               
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>