<section ng-controller="MyofferController">
  <div class="mdl-color--blue-grey ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">My Offer</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp m-b-30">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">My Offer List </h2>
          </div>
     
          <table class="mdl-data-table ml-table-bordered mdl-js-data-table ">
            <colgroup>
              <col class="auto-cell-size p-r-20">
            </colgroup>
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Image</th>
                <th class="mdl-data-table__cell--non-numeric">Offer Name</th>
                <th class="mdl-data-table__cell--non-numeric">Validate</th>                
                
              </tr>
            </thead>
            <tbody ng-if="myoffer_details.length">
              <tr dir-paginate="myoffer in myoffer_details|itemsPerPage:10">
              
                <td>                 
                 <img ng-src="{{myoffer.offer_image_path}}" width="100" />
                </td>
                <td>{{myoffer.offer_description}}</td>     
                <td>
                  Validate after {{myoffer.validate_after}} Hr(s) and within 
                  {{myoffer.validate_within}} Hr(s)
                </td>   
               
              </tr> 
              <tr >
                <td colspan="5" class="text-center">
                  <dir-pagination-controls
                    max-size="7"
                    direction-links="true"
                    boundary-links="true" >
                  </dir-pagination-controls>
                </td>
              </tr>        
            </tbody>
            <tbody ng-if="!myoffer_details.length">
              <tr>
                <td class="center" colspan="12">No data present</td>                
              </tr> 
            </tbody>  
          </table>
        </div>
        
      </div>
    </div>

  </div>
    
  </div>

</section>